@model NLayerApp.WEB.Models.OrderViewModel

@{
    ViewData["Title"] = "Оформление заказа";
}

<h2>Оформление заказа</h2>

<form asp-action="MakeOrder">




    <div class="form-group">
        <input type="submit" value="Оформить заказ" class="btn btn-primary" />
    </div>
</form>